.title {
 color: #797585; background-image: -webkit-linear-gradient(45deg, #797585 41%, #AEA9BA 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
 font-size: 30px;
 font-style:oblique;
}

.about {
     width:max-content;
     color: #797585; background-image: -webkit-linear-gradient(45deg, #797585 41%, #AEA9BA 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
     margin-left: auto;
     margin-right: auto;
     font-weight: 600;
        
}

.choose {
color: #9c87dc2f;
width: max-content;
margin-left: auto;
margin-right: auto;
     
}


@media screen and (min-width: 720px) and (max-width: 820px) {
     .title {
          font-size: 25px;
     }
     .about {
          font-size: 12px;
          width: 100%;
     }
   }

   @media screen and (min-width: 490px) and (max-width: 720px) {
     .title {
          font-size: 20px;
     }
     .about {
          font-size: 9px;
          text-align: left;
          width: 80%;
     }
   }

   @media screen and (min-width: 200px) and (max-width: 490px) {
     .title {
          font-size: 15px;
     }
     .about {
          font-size: 9px;
          text-align: left;
          width: 80%;
     }
   }